body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.text span {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 27px;
  letter-spacing: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(40, 31, 43, 0.836);
  padding: 18px 22px;
}

.img1, .img2, .img3 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.85;
  box-shadow: inset 6px 8px 13px 0px rgba(0, 0, 0, 0.616);
}

.img1 {
  background-image: url(imagens/1.jpg);
  background-position: center center;
  height: 977px;
}

section {
  padding: 45px 85px;
  background-color: rgb(40, 31, 43);
  color: white;
  line-height: 35px;
  text-align: center;
}

.img2 {
  background-image: url(imagens/5.jpg);
  background-position: center center;
  height: 450px;
}

.img3 {
  background-image: url(imagens/2.jpg);
  background-position: right bottom;
  background-attachment: fixed;
  height: 600px;
}